<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAinAqDB2JRGmdyBwsM7q3jY3L26Gw0ke8</string>
	<key>GCM_SENDER_ID</key>
	<string>228858801633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilcodes.app.noteydho</string>
	<key>PROJECT_ID</key>
	<string>noteydho</string>
	<key>STORAGE_BUCKET</key>
	<string>noteydho.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228858801633:ios:da9ef757875d6664b5f6a0</string>
</dict>
</plist>